@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient-xy {
    animation: gradient-xy 15s ease infinite;
    background-size: 400% 400%;
  }

}

input:focus, textarea:focus {
  outline: none;
}


::selection {
  background: linear-gradient(45deg, #3b82f6, #8b5cf6);
  color: white;
}

::-moz-selection {
  background: linear-gradient(45deg, #3b82f6, #8b5cf6);
  color: white;
} */


body {
  background-color: #111827;
  color: #f9fafb;
}